/* 共通 */
body {
  /* border: 2px solid pink; */
  background: linear-gradient(-135deg, #d4c1af, #c2a3d8) fixed;
  font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
  margin: 0;
}

li {
  list-style: none;
  margin-left: 1rem;
}

ul {
  padding-left: 0;
}

.btn {
  margin: 0 0 0 auto;
}

.title {
  text-align: center;
}

.header_name {
  /* background: linear-gradient(-135deg, #E4A972, #9941D8) fixed; */
  text-align: center;
}

.not_inthe_cart {
  display: flex;
  /* justify-content: space-around; */
  background: linear-gradient(-135deg, #E4A972, #9941D8) fixed;
}


.inthe_cart {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(-135deg, #d3ab88, #6d4986) fixed;
}






